@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Grandiflora+One&display=swap");

* {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

body {
  background-image: url(../assets/cinema.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.25rem;

  color: #e51dff;

  font-weight: bold;
  font-size: 180%;

  background-color: #000000d7;

  height: 6.25rem;
}

#search-form {
  /* margin-top: 1.25rem; */

  display: flex;
  justify-content: center;
  align-items: center;

  height: 5rem;
  background-color: #000000d7;
}

#input-text {
  background-color: #ffffff;
  font-style: italic;
  height: 150%;
  height: 25px;
  width: 15.625rem;

  font-size: 120%;
}

#search-btn {
  margin-left: 0.625rem;
  border-radius: 0.0313rem;
  text-align: center;
  height: 2.5rem;
  width: 4.375rem;

  background-color: #e51dff;

  font-size: 120%;
}

.movie-list {
  display: grid;
  margin-top: 3rem;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;

  text-align: center;

  margin: 3.125rem;
}

.movie-card {
  background-color: #000000da;
  border-radius: 0.1875rem;
}

.movie-title {
  margin-top: 0.625rem;
  font-size: 180%;
}

.movie-overview {
  margin-top: 0.625rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;

  font-size: 120%;
}

img {
  width: 12.5rem;
  height: 18.75rem;
}

img:hover {
  cursor: pointer;
}

.title:hover {
  cursor: pointer;
}
