@import url("https://fonts.googleapis.com/css2?family=Diphylleia&family=Grandiflora+One&display=swap");

* {
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
  user-select: none;
}

body {
  background-image: url(../assets/cinema.jpg);
  background-position: center;
  background-size: cover;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.25rem;

  color: #ef75ff;

  background-color: #000000be;

  height: 6.25rem;
}

#search-form {
  margin-top: 1.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 3.75rem;

  font-size: 800;
  font-weight: bold;

  background-color: #4b4b4bc4;
}

#search-movie {
  margin-right: 0.625rem;
  font-weight: 900;
  font-size: larger;
  color: #ff427b;
  border-radius: 0.625rem;
}

#input-text {
  background-color: #000000b7;
  font-style: italic;
}

#search-btn {
  margin-left: 0.625rem;
  border-radius: 0.0625rem;
  text-align: center;
}

.movie-list {
  display: grid;
  margin-top: 3rem;
  font-weight: bold;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.25rem;

  text-align: center;

  margin: 3.125rem;
}

.movie-card {
  background-color: #00000093;
  border-radius: 0.1875rem;
}

.movie-title {
  margin-top: 0.625rem;
}

.movie-overview {
  margin-top: 0.625rem;
  word-break: keep-all;
}

img {
  width: 12.5rem;
  height: 18.75rem;
}

img:hover {
  cursor: pointer;
}

.title:hover {
  cursor: pointer;
}
